body {
  font-family: sans-serif;
  background: linear-gradient(-45deg, #cdfac2, #dbb1f3, #aaebf7, #e7ec9e);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
h1 {
  text-align: center;
  padding-bottom: 25px;
}
h1 a {
  text-decoration: none;
  color: black;
}
h1 a:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.712);
}
h2 {
  margin: 0 0 5px;
}
footer {
  text-align: center;
  color: rgba(0, 0, 0, 0.76);
}
footer a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.616);
}
footer a:hover {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

select {
  font-family: "FontAwesome", sans-serif;
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
}
.container {
  max-width: 600px !important;
  margin: 60px auto;
  margin-bottom: 20px;
  background-color: white;
  padding: 40px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}
.city {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 30px 0;
  border-bottom: 1px dashed rgba(128, 128, 128, 0.37);
}
.city:last-child {
  border: none;
}
.date {
  opacity: 0.6;
}
.time {
  font-size: 40px;
}
.time small {
  font-size: 20px;
  vertical-align: middle;
}
